<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="teamCacheAccessPoint"  version = "2.0.7" versionCode = "8" >


        <name>CEAS Access Point</name>
        <description>CEAS Access Point: A Cross Platform Mobile Application for Gordon College, College of Education, Arts and Sciences<br /><br />
		This application will help the Students to easily access their grades by using their smartphones. It is also help the instructors to easily view their class loads on the current semester.<br /><br />
		This application is created using HTML5, Javascript and CSS and it is available on Firefox Marketplace for Firefox OS,and  Google Play for Android phones.</description>
        <author>Team Cache</author>
		<gap:platforms>
                <gap:platform name="ios" />
                <gap:platform name="android" />
                <gap:platform name="webos" />
                <gap:platform name="symbian.wrt" />
                <gap:platform name="blackberry" project="widgets"/>
        </gap:platforms>

        <icon src="images/icon.png" gap:role="default" />
        <preference name="phonegap-version" value="3.1.0" />
        
        <access origin="*" subdomains="true" />
        <access uri="*" subdomains="true" />
                 <access uri="*" subdomains="true" />
        <feature name="http://api.phonegap.com/1.0/network"/>
        <feature name="InAppBrowser">
    <param name="android-package" value="org.apache.cordova.InAppBrowser" />
        </feature>
        
        
        <preference name="orientation" value="portrait" />
        <preference name="fullscreen" value="true" />
        <preference name="target-device" value="universal" />

</widget>
